## Analyze A/B Test Results

This project will assure you have mastered the subjects covered in the statistics lessons.  The hope is to have this project be as comprehensive of these topics as possible.  Good luck!

## Table of Contents
- [Introduction](#intro)
- [Part I - Probability](#probability)
- [Part II - A/B Test](#ab_test)
- [Part III - Regression](#regression)


<a id='intro'></a>
### Introduction

A/B tests are very commonly performed by data analysts and data scientists.  It is important that you get some practice working with the difficulties of these 

For this project, you will be working to understand the results of an A/B test run by an e-commerce website.  Your goal is to work through this notebook to help the company understand if they should implement the new page, keep the old page, or perhaps run the experiment longer to make their decision.

**As you work through this notebook, follow along in the classroom and answer the corresponding quiz questions associated with each question.** The labels for each classroom concept are provided for each question.  This will assure you are on the right track as you work through the project, and you can feel more confident in your final submission meeting the criteria.  As a final check, assure you meet all the criteria on the [RUBRIC](https://review.udacity.com/#!/projects/37e27304-ad47-4eb0-a1ab-8c12f60e43d0/rubric).

<a id='probability'></a>
#### Part I - Probability

To get started, let's import our libraries.

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline
#We are setting the seed to assure you get the same answers on quizzes as we set up
random.seed(42)

`1.` Now, read in the `ab_data.csv` data. Store it in `df`.  **Use your dataframe to answer the questions in Quiz 1 of the classroom.**

a. Read in the dataset and take a look at the top few rows here:

In [2]:
df = pd.read_csv('ab_data.csv')
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

b. Use the below cell to find the number of rows in the dataset.

In [3]:
print("The number of rows : {}".format(df.shape[0]))

The number of rows : 294478

c. The number of unique users in the dataset.

In [4]:
print("The number of unique users : {}".format(df['user_id'].nunique()))

The number of unique users : 290584

d. The proportion of users converted.

In [5]:
print("The proportion of users : {}".format(df['converted'].mean()))

The proportion of users : 0.11965919355605512

e. The number of times the `new_page` and `treatment` don't line up.

In [6]:
df.group.unique(), df.landing_page.unique()

(array(['control', 'treatment'], dtype=object),
 array(['old_page', 'new_page'], dtype=object))

In [7]:
df_not_new_page_and_treatment =  df.query(
    "(group == 'treatment' and landing_page != 'new_page') or (group != 'treatment' and landing_page == 'new_page')"
)
df_not_new_page_and_treatment

        user_id                   timestamp      group landing_page  converted
22       767017  2017-01-12 22:58:14.991443    control     new_page          0
240      733976  2017-01-11 15:11:16.407599    control     new_page          0
308      857184  2017-01-20 07:34:59.832626  treatment     old_page          0
327      686623  2017-01-09 14:26:40.734775  treatment     old_page          0
357      856078  2017-01-12 12:29:30.354835  treatment     old_page          0
490      808613  2017-01-10 21:44:01.292755    control     new_page          0
685      666385  2017-01-23 08:11:54.823806  treatment     old_page          0
713      748761  2017-01-10 15:47:44.445196  treatment     old_page          0
776      820951  2017-01-04 02:42:54.770627  treatment     old_page          0
846      637639  2017-01-11 23:09:52.682329    control     new_page          1
850      793580  2017-01-08 03:25:33.723712    control     new_page          1
889      839954  2017-01-06 20:58:22.280929  treatment     old_page          0
988      698120  2017-01-22 07:09:37.540970    control     new_page          0
1037     880442  2017-01-07 21:42:39.026815  treatment     old_page          0
1106     817911  2017-01-17 21:51:43.220160  treatment     old_page          0
1198     646342  2017-01-06 18:39:23.484797    control     new_page          0
1354     735021  2017-01-16 09:51:29.349493    control     new_page          0
1376     844475  2017-01-20 14:25:37.359614  treatment     old_page          0
1474     678638  2017-01-18 06:36:42.515395    control     new_page          0
1551     838336  2017-01-14 22:05:24.310302  treatment     old_page          0
1706     916207  2017-01-20 11:53:39.683012  treatment     old_page          0
1762     690127  2017-01-11 16:02:57.551297  treatment     old_page          1
1877     717682  2017-01-07 03:05:39.891873    control     new_page          0
2023     937692  2017-01-19 01:29:42.739007    control     new_page          0
2214     649781  2017-01-20 03:50:20.837704    control     new_page          0
2233     869707  2017-01-02 18:36:28.222510  treatment     old_page          0
2422     853156  2017-01-15 23:19:45.427866  treatment     old_page          0
2689     793494  2017-01-09 02:09:08.534282  treatment     old_page          0
2745     872666  2017-01-05 07:44:32.050781    control     new_page          0
2759     639817  2017-01-06 23:39:11.754971    control     new_page          0
...         ...                         ...        ...          ...        ...
292521   689329  2017-01-06 03:58:15.546309  treatment     old_page          0
292570   778969  2017-01-21 12:59:42.740399    control     new_page          1
292607   699462  2017-01-17 23:54:08.826755  treatment     old_page          0
292748   684361  2017-01-19 03:59:57.656614    control     new_page          0
292800   712112  2017-01-14 23:33:41.083796  treatment     old_page          0
292845   893018  2017-01-10 15:05:37.522921    control     new_page          0
292963   742202  2017-01-12 04:34:20.344485  treatment     old_page          0
292977   638460  2017-01-22 13:38:30.677806  treatment     old_page          0
293017   792268  2017-01-06 09:21:58.341063    control     new_page          0
293085   884635  2017-01-19 14:19:48.484389    control     new_page          0
293240   861420  2017-01-04 20:34:09.065070  treatment     old_page          0
293302   825937  2017-01-04 20:56:48.825875  treatment     old_page          0
293391   934444  2017-01-12 19:49:35.581289  treatment     old_page          0
293393   636565  2017-01-12 07:26:31.103374    control     new_page          0
293443   738761  2017-01-04 15:20:52.694440  treatment     old_page          0
293480   638376  2017-01-18 15:41:02.395882    control     new_page          0
293530   934040  2017-01-04 20:52:26.981566  treatment     old_page          0
293568   704024  2017-01-15 17:06:09.309987    control     new_page          0
293662   927109  2017-01-04 09:14:33.647192    control     new_page          0
293773   688144  2017-01-16 20:34:50.450528  treatment     old_page          1
293817   876037  2017-01-17 16:15:08.957152  treatment     old_page          1
293888   865405  2017-01-12 08:38:50.511434    control     new_page          0
293894   741581  2017-01-09 20:49:03.391764    control     new_page          0
293917   738357  2017-01-05 15:37:55.729133  treatment     old_page          0
293996   942612  2017-01-08 13:52:28.182648    control     new_page          0
294014   813406  2017-01-09 06:25:33.223301  treatment     old_page          0
294200   928506  2017-01-13 21:32:10.491309    control     new_page          0
294252   892498  2017-01-22 01:11:10.463211  treatment     old_page          0
294253   886135  2017-01-06 12:49:20.509403    control     new_page          0
294331   689637  2017-01-13 11:34:28.339532    control     new_page          0

[3893 rows x 5 columns]

In [8]:
print("The number of times the new_page and treatment don't line up : {}".format(df_not_new_page_and_treatment.shape[0]))

The number of times the new_page and treatment don't line up : 3893

f. Do any of the rows have missing values?

In [9]:
df.info()
print(df.isnull().sum())
if(df["user_id"].isnull().sum() == 0 or df["timestamp"].isnull().sum() == 0 
    or df["group"].isnull().sum() == 0  or df["landing_page"].isnull().sum() == 0 or df["converted"].isnull().sum() == 0 ):
    print("There are no rows which have missing values")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
user_id         294478 non-null int64
timestamp       294478 non-null object
group           294478 non-null object
landing_page    294478 non-null object
converted       294478 non-null int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB
user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64
There are no rows which have missing values

`2.` For the rows where **treatment** is not aligned with **new_page** or **control** is not aligned with **old_page**, we cannot be sure if this row truly received the new or old page.  Use **Quiz 2** in the classroom to provide how we should handle these rows.  

a. Now use the answer to the quiz to create a new dataset that meets the specifications from the quiz.  Store your new dataframe in **df2**.

In [10]:
df.drop(
    df.query("(group == 'treatment' and landing_page != 'new_page') or (group != 'treatment' and landing_page == 'new_page')"
    ).index, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290585 entries, 0 to 294477
Data columns (total 5 columns):
user_id         290585 non-null int64
timestamp       290585 non-null object
group           290585 non-null object
landing_page    290585 non-null object
converted       290585 non-null int64
dtypes: int64(2), object(3)
memory usage: 13.3+ MB

In [12]:
df.to_csv('ab_data2.csv', index=False)

In [13]:
df2 = pd.read_csv('ab_data2.csv')

In [14]:
# Double Check all of the correct rows were removed - this should be 0
df2[((df2['group'] == 'treatment') == (df2['landing_page'] == 'new_page')) == False].shape[0]

0

`3.` Use **df2** and the cells below to answer questions for **Quiz3** in the classroom.

a. How many unique **user_id**s are in **df2**?

In [15]:
df2['user_id'].nunique()

290584

b. There is one **user_id** repeated in **df2**.  What is it?

In [16]:
df2[df2["user_id"].duplicated(keep=False)]

      user_id                   timestamp      group landing_page  converted
1876   773192  2017-01-09 05:37:58.781806  treatment     new_page          0
2862   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

c. What is the row information for the repeat **user_id**?

In [17]:
df2[df2["user_id"] == 773192]

      user_id                   timestamp      group landing_page  converted
1876   773192  2017-01-09 05:37:58.781806  treatment     new_page          0
2862   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

d. Remove **one** of the rows with a duplicate **user_id**, but keep your dataframe as **df2**.

In [18]:
df2.drop_duplicates(['user_id'], keep='last', inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290584 entries, 0 to 290584
Data columns (total 5 columns):
user_id         290584 non-null int64
timestamp       290584 non-null object
group           290584 non-null object
landing_page    290584 non-null object
converted       290584 non-null int64
dtypes: int64(2), object(3)
memory usage: 13.3+ MB

In [19]:
# The landing_page for the non-unique id.
print("The landing_page for the non-unique id : {}".format(df2['landing_page'].nunique()))
print(df2['landing_page'].unique())
print("------------------------------------------------------------------------------------")
# The group for the non-unique id.
print("The group for the non-unique id : {}".format(df2['group'].nunique()))
print(df2['group'].unique())
print("------------------------------------------------------------------------------------")
# The value of converted column for the non-unique id.
print("The value of converted column for the non-unique id : {}".format(df2['converted'].nunique()))
print(df2['converted'].unique())
print("------------------------------------------------------------------------------------")

The landing_page for the non-unique id : 2
['old_page' 'new_page']
------------------------------------------------------------------------------------
The group for the non-unique id : 2
['control' 'treatment']
------------------------------------------------------------------------------------
The value of converted column for the non-unique id : 2
[0 1]
------------------------------------------------------------------------------------

`4.` Use **df2** in the below cells to answer the quiz questions related to **Quiz 4** in the classroom.

a. What is the probability of an individual converting regardless of the page they receive?

In [20]:
print("The probability of an individual converting regardless of the page they receive : {}".format(df2["converted"].mean()))

The probability of an individual converting regardless of the page they receive : 0.11959708724499628

b. Given that an individual was in the `control` group, what is the probability they converted?

In [21]:
control_converted = df2[df2['group'] == 'control']['converted'].mean()
print("The probability they converted in control group : {}".format(control_converted))

The probability they converted in control group : 0.1203863045004612

c. Given that an individual was in the `treatment` group, what is the probability they converted?

In [22]:
treatment_converted = df2.query('group == "treatment"')['converted'].mean()
print("The probability they converted in treatment group : {}".format(treatment_converted))

The probability they converted in treatment group : 0.11880806551510564

d. What is the probability that an individual received the new page?

In [23]:
new_page_probability = (df2['landing_page'] == 'new_page').mean()
print("The probability they converted in treatment group : {}".format(new_page_probability))

The probability they converted in treatment group : 0.5000619442226688

e. Consider your results from a. through d. above, and explain below whether you think there is sufficient evidence to say that the new treatment page leads to more conversions.

Here are my showing results are defined below as itemizing each one in detail

`1.`The control group (the group with the old page) with converted is higher rate than the treatment (the group with the new page) with converted but there is an approximately 0.2 small difference between each other.

`2.` The probability of an individual converting regardless of the page they receive is nearly identcal to The probability they converted in control group that's why there is no tangible proof that the process of landing page leads to more conversions.

`3.` The probability that an individual received the new page is nearly 50% of all edited dataset. It means that both landing page sides named for new page and old page can perform the same performance.

<a id='ab_test'></a>
### Part II - A/B Test

Notice that because of the time stamp associated with each event, you could technically run a hypothesis test continuously as each observation was observed.  

However, then the hard question is do you stop as soon as one page is considered significantly better than another or does it need to happen consistently for a certain amount of time?  How long do you run to render a decision that neither page is better than another?  

These questions are the difficult parts associated with A/B tests in general.  


`1.` For now, consider you need to make the decision just based on all the data provided.  If you want to assume that the old page is better unless the new page proves to be definitely better at a Type I error rate of 5%, what should your null and alternative hypotheses be?  You can state your hypothesis in terms of words or in terms of **$p_{old}$** and **$p_{new}$**, which are the converted rates for the old and new pages.

**Put your answer here.**

`2.` Assume under the null hypothesis, $p_{new}$ and $p_{old}$ both have "true" success rates equal to the **converted** success rate regardless of page - that is $p_{new}$ and $p_{old}$ are equal. Furthermore, assume they are equal to the **converted** rate in **ab_data.csv** regardless of the page. <br><br>

Use a sample size for each page equal to the ones in **ab_data.csv**.  <br><br>

Perform the sampling distribution for the difference in **converted** between the two pages over 10,000 iterations of calculating an estimate from the null.  <br><br>

Use the cells below to provide the necessary parts of this simulation.  If this doesn't make complete sense right now, don't worry - you are going to work through the problems below to complete this problem.  You can use **Quiz 5** in the classroom to make sure you are on the right track.<br><br>

a. What is the **convert rate** for $p_{new}$ under the null?

b. What is the **convert rate** for $p_{old}$ under the null? <br><br>

c. What is $n_{new}$?

d. What is $n_{old}$?

e. Simulate $n_{new}$ transactions with a convert rate of $p_{new}$ under the null.  Store these $n_{new}$ 1's and 0's in **new_page_converted**.

f. Simulate $n_{old}$ transactions with a convert rate of $p_{old}$ under the null.  Store these $n_{old}$ 1's and 0's in **old_page_converted**.

g. Find $p_{new}$ - $p_{old}$ for your simulated values from part (e) and (f).

h. Simulate 10,000 $p_{new}$ - $p_{old}$ values using this same process similarly to the one you calculated in parts **a. through g.** above.  Store all 10,000 values in a numpy array called **p_diffs**.

i. Plot a histogram of the **p_diffs**.  Does this plot look like what you expected?  Use the matching problem in the classroom to assure you fully understand what was computed here.

j. What proportion of the **p_diffs** are greater than the actual difference observed in **ab_data.csv**?

k. In words, explain what you just computed in part **j.**  What is this value called in scientific studies?  What does this value mean in terms of whether or not there is a difference between the new and old pages?

**Put your answer here.**

l. We could also use a built-in to achieve similar results.  Though using the built-in might be easier to code, the above portions are a walkthrough of the ideas that are critical to correctly thinking about statistical significance. Fill in the below to calculate the number of conversions for each page, as well as the number of individuals who received each page. Let `n_old` and `n_new` refer the the number of rows associated with the old page and new pages, respectively.

In [24]:
import statsmodels.api as sm

convert_old = 
convert_new = 
n_old = 
n_new =

SyntaxError: invalid syntax (<ipython-input-24-349dcc834059>, line 3)

m. Now use `stats.proportions_ztest` to compute your test statistic and p-value.  [Here](http://knowledgetack.com/python/statsmodels/proportions_ztest/) is a helpful link on using the built in.

n. What do the z-score and p-value you computed in the previous question mean for the conversion rates of the old and new pages?  Do they agree with the findings in parts **j.** and **k.**?

**Put your answer here.**

<a id='regression'></a>
### Part III - A regression approach

`1.` In this final part, you will see that the result you acheived in the previous A/B test can also be acheived by performing regression.<br><br>

a. Since each row is either a conversion or no conversion, what type of regression should you be performing in this case?

**Put your answer here.**

b. The goal is to use **statsmodels** to fit the regression model you specified in part **a.** to see if there is a significant difference in conversion based on which page a customer receives.  However, you first need to create a column for the intercept, and create a dummy variable column for which page each user received.  Add an **intercept** column, as well as an **ab_page** column, which is 1 when an individual receives the **treatment** and 0 if **control**.

c. Use **statsmodels** to import your regression model.  Instantiate the model, and fit the model using the two columns you created in part **b.** to predict whether or not an individual converts.

d. Provide the summary of your model below, and use it as necessary to answer the following questions.

e. What is the p-value associated with **ab_page**? Why does it differ from the value you found in **Part II**?<br><br>  **Hint**: What are the null and alternative hypotheses associated with your regression model, and how do they compare to the null and alternative hypotheses in the **Part II**?

**Put your answer here.**

f. Now, you are considering other things that might influence whether or not an individual converts.  Discuss why it is a good idea to consider other factors to add into your regression model.  Are there any disadvantages to adding additional terms into your regression model?

**Put your answer here.**

g. Now along with testing if the conversion rate changes for different pages, also add an effect based on which country a user lives. You will need to read in the **countries.csv** dataset and merge together your datasets on the approporiate rows.  [Here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html) are the docs for joining tables. 

Does it appear that country had an impact on conversion?  Don't forget to create dummy variables for these country columns - **Hint: You will need two columns for the three dummy variables.** Provide the statistical output as well as a written response to answer this question.

In [ ]:
countries_df = pd.read_csv('./countries.csv')
df_new = countries_df.set_index('user_id').join(df2.set_index('user_id'), how='inner')

In [ ]:
### Create the necessary dummy variables

h. Though you have now looked at the individual factors of country and page on conversion, we would now like to look at an interaction between page and country to see if there significant effects on conversion.  Create the necessary additional columns, and fit the new model.  

Provide the summary results, and your conclusions based on the results.

In [ ]:
### Fit Your Linear Model And Obtain the Results

<a id='conclusions'></a>
## Conclusions

Congratulations on completing the project! 

### Gather Submission Materials

Once you are satisfied with the status of your Notebook, you should save it in a format that will make it easy for others to read. You can use the __File -> Download as -> HTML (.html)__ menu to save your notebook as an .html file. If you are working locally and get an error about "No module name", then open a terminal and try installing the missing module using `pip install <module_name>` (don't include the "<" or ">" or any words following a period in the module name).

You will submit both your original Notebook and an HTML or PDF copy of the Notebook for review. There is no need for you to include any data files with your submission. If you made reference to other websites, books, and other resources to help you in solving tasks in the project, make sure that you document them. It is recommended that you either add a "Resources" section in a Markdown cell at the end of the Notebook report, or you can include a `readme.txt` file documenting your sources.

### Submit the Project

When you're ready, click on the "Submit Project" button to go to the project submission page. You can submit your files as a .zip archive or you can link to a GitHub repository containing your project files. If you go with GitHub, note that your submission will be a snapshot of the linked repository at time of submission. It is recommended that you keep each project in a separate repository to avoid any potential confusion: if a reviewer gets multiple folders representing multiple projects, there might be confusion regarding what project is to be evaluated.

It can take us up to a week to grade the project, but in most cases it is much faster. You will get an email once your submission has been reviewed. If you are having any problems submitting your project or wish to check on the status of your submission, please email us at dataanalyst-project@udacity.com. In the meantime, you should feel free to continue on with your learning journey by beginning the next module in the program.